<p style="color: green"><%= notice %></p>

<% content_for :title, "Authors" %>

<h1 class="mb-4 text-center" style="font-family: 'Merriweather', serif; color: #4d3f2b;">Authors</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <ul class="list-unstyled text-center">
        <% @authors.each do |author| %>
          <li class="mb-2" style="font-size: 1.25rem; color: #4d3f2b;">
            <%= link_to author.name, author_path(author), class: 'text-decoration-none' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%= link_to "New Author", new_author_path, class: 'btn btn-success my-3 d-block mx-auto' %>
