<p style="color: green"><%= notice %></p>

<% content_for :title, @author.name %>

<h1 class="mb-4 text-center" style="font-family: 'Merriweather', serif; color: #4d3f2b;">Books by <%= @author.name %></h1>

<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
    <% @author.books.each do |book| %>
      <%= render 'books/book_card', book: book %> <!-- Render the book card partial -->
    <% end %>
  </div>
</div>

<div class="text-center my-3">
  <%= link_to "Back to Authors List", authors_path, class: 'btn btn-secondary' %>
</div>
